/* Map.module.css */
.customMap {
  z-index: -1;
  display: none !important;
}

.gmnoprint,
.gm-control-active.gm-fullscreen-control {
  display: none;
}

.containerMap {
  position: relative;
}

.containerCardRoutes {
  transition: all 1s;
  background-color: #00000097 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  width: 20%;
  min-width: 320px;
  height: 30%;
  min-height: 280px;
  border-radius: 20px;
  color: #fff;
}

.inputSearchBox {
  position: absolute;
  /* top: 0; */
  z-index: 2;
  left: 35%;
  top: 40px;
  width: 33%;
  min-width: 200px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputSearchBox input {
  background-color: rgba(0, 0, 255, 0);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* margin-right: 8%; */
  text-indent: 8%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #2a7fef;
  color: #fff;
  outline: none;
}

.inputSearchBox input:focus {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #ffffff;
}

.inputSearchBox .divAutocomplete {
  width: 100%;
}

/* .inputSearch input {
  width: 100%;
  height: 35px;
  background-color: #50505071;
  text-indent: 15%;
  border-radius: 64px 0px 0px 64px;
  -webkit-border-radius: 64px 0px 0px 64px;
  -moz-border-radius: 64px 0px 0px 64px;
  color: #fff;
} */

.inputNav {
  border: none;
}

.inputNav::placeholder {
  color: #eeeeee;
  text-align: center;
}

.lupaIcon {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  width: 64px;
  border-radius: 0px 64px 64px 0px;
  -webkit-border-radius: 0px 64px 64px 0px;
  -moz-border-radius: 0px 64px 64px 0px;
  background-color: #2a7fef;
}

.inputSearch input:focus {
  border-radius: 64px 0px 0px 64px;
  -webkit-border-radius: 64px 0px 0px 64px;
  -moz-border-radius: 64px 0px 0px 64px;
  border: solid 1px #2a7fef;
}

.inputsRoutes {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
}

.inputsRoutes input {
  width: 80%;
  margin-left: 5px;
  height: 40px;
  border-radius: 2px;
  text-indent: 10px;
  border: none;
  outline: 1px solid #000;
}

.btnCloseInputRoutes {
  width: 35px;
  border-radius: 50%;
  color: #000;
  background-color: #2a7fef;
  border: none;
  outline: none;
  font-size: 15px;
  height: 35px;
  position: absolute;
  top: 50%;
  right: -15px;
  transition: all 0.5s;
  cursor: pointer;
}

.btnCloseInputRoutes:hover {
  color: #ff0000;
}

.closeClassBtnInput {
  transform: translateX(-100%);
}

.infoRoutes {
  margin-top: 5%;
  align-self: flex-start;
}

.btnCalcRoute {
  position: absolute !important;
  right: 15px;
  top: 50px;
  background-color: #2a7fef;
  color: #fff;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s;
}

.btnRedirectUser {
  background-color: #fff;
  color: #2a7fef;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute !important;
  right: 15px;
  top: 110px;
  cursor: pointer;
  transition: all 0.5s;
}

.btnClearRoute {
  background-color: #fff;
  color: #2a7fef;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute !important;
  right: 15px;
  top: 220px;
  cursor: pointer;
  transition: all 0.5s;
}

.btnLocationUser {
  background-color: #fff;
  color: #2a7fef;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute !important;
  right: 15px;
  top: 165px;
  cursor: pointer;
  font-size: 25px;
  transition: all 0.5s;
}

.btnLocationUser:hover {
  color: blue;
}

.btnCalcRoute:hover {
  color: yellow;
}

.btnRedirectUser:hover {
  color: rgb(2, 196, 2);
}

.btnClearRoute:hover {
  color: red;
}

@media (min-width: 0px) and (max-width: 499px) {
  .inputSearchBox {
    left: 30%;
  }
}
