:root {
  --cor-do-botao: #2a7fef;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #fff;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-color: #0057a8; 
  background-size: cover;
  font-family: "Inter", sans-serif;
}

.container .formCalc {
  width: 38%;
  height: 450px;
  padding: 20px;
  margin-bottom: -70px;
  font-weight: 500;
  border-radius: 8px;
  background-color: #000000c2;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}

.formCalc .boxCalc {
  display: flex;
  flex-direction: row;
}

.formCalc h2 {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6em;
  color: #fff;
  margin-top: 3%;
  margin-bottom: 5%;
}

.formCalc h3 {
  font-weight: 600;
  text-align: left;
  font-size: 15px;
  color: #fff;
  margin-bottom: 2%;
}

.formCalc input {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: #333333;
  color: #fff;
  font-size: 1em;
  text-indent: 3%;
}

.formCalc input[type="number"]::placeholder {
  color: #8d8d8d;
  font-family: Inter;
}
.formCalc input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
.formCalc input[type="number"] {
  -moz-appearance: textfield;
}


.formCalc input:focus {
  outline-color: var(--cor-do-botao);
  border-color: var(--cor-do-botao);
}

/* .formCalc input::placeholder {} */

.formCalc .inputsCalc {
  padding: 10px;
  width: 100%;
} 

.formCalc .inputsPreco {
  display: flex;
  width: 100%;
  border-radius: 6px;
  justify-content: center;
  align-items: left;
  background-color: #333333;
}

.inputsPreco p {
  background-color: #424242;
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 20%;
}

.inputEtanol,
.inputGas {
  text-indent: 10%;
}

.formCalc .btnCalc {
  background-color: var(--cor-do-botao);
  font-weight: 500;
  width: 100%;
  height: 52px;
  color: #fff;
  border-radius: 4px;
  font-size: 21px;
  cursor: pointer;
  transition: .5s;
}

.formCalc .btnCalc:hover {
  transition: .5s;
  background-color: #032e69;
}

.formCalc .btnCalc:active {
  position: relative;
  top: 1px;
}

.formCalc .explicacao{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 7px;
}

.explicacao h3 {
  margin-left: 0.5%;
  margin-bottom: 20px;
  font-size: 1.25em;
  color: #ffffff;
}

.explicacao p {
  text-align: justify;
  color: #ffffff;
}

.explicacao .resultado {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 1.11em;
  margin-top: 20px;
  padding: 0 14px 0 14px;
  border-radius: 6px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00973ad2;
}

/*media queries*/

@media (max-width: 1800px) and (min-width:1300px) {
  .container .formCalc {
    min-width: 500px;
  }
}

@media (max-width: 1299px) and (min-width:950px) {
  .container .formCalc {
    min-width: 400px;
  }
}

@media (max-width: 949px) and (min-width:420px) {
  .container .formCalc {
    min-width: 400px;
  }
}

@media (max-width: 419px) and (min-width:320px) {
  .container .formCalc {
    width: 90%;
    margin: unset;
    padding: unset;
  }

  .formCalc .logo {
    margin-top: 10%;
  }
}