.mainContainer {
    /* background-image: url("../../img/backgroundInfoPosto.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    display: grid;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #4BAFF8 2.54%, #1D5EA0 50.25%, #083161 98.48%);
    height: 100vh;
    width: 100%;
}

.infoContainer {
    position: relative;
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 4px;
    height: 80%;
    width: 100%;
    top: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: #FFF;
    overflow: auto;
}

.DadosPosto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.endereco {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.iconePonteiro {
    font-size: 32px;
    color: red;
}

.containerSecundario {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 100%;
    padding: 0px 8px;
    /* background-color: red; */
}

.avaliacaoContainer {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    row-gap: 5%;
    align-items: center;
    /* background-color: rgb(59, 19, 0); */
    width: 30%;
    height: 70%;
}

.cardAvaliacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    border-radius: 4px;
    background: rgba(191, 191, 191, 0.44);
    /* flex-wrap: nowrap;
    text-wrap: nowrap; */
    padding: 4px;
    margin: 4px;
}

.estrelas {
    font-size: 20px;
    color: rgb(255, 255, 41);
}

.cardAvaliacao h4 {
    font-size: 1em;
}

.mainContainerPrecos{
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.precosContainer {
    /* background-color: green; */
    margin: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    max-height: 400px;
    overflow: auto;
}

.switchPrice {
    display: grid;
    grid-template-columns: calc(40vw - 325px) repeat(3, 1fr);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    padding-left: 10%;
    padding-bottom: 8px;
}

/* div.switchPrice> h3:nth-child(1) {
    display: flex;
    margin: 0;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
} */

label.switch {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 60px;
    height: 34px;
}

/* label.switch input {
    opacity: 0;
    width: 0;
    height: 0;
} */

label.switch span.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #33b0f8;
    border-radius: 15px;
}

label.switch span.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #FFF;
    border-radius: 20px;
    transition: 0.5s;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.divSugerirPreco {
    background-color: #3498db;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    cursor: pointer;
    padding-left: 8px;
    margin: 8px;
    user-select: none;
}

.divSugerirPreco:hover {
    background-color: #004EB6;
}

.cardPreco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFF;
    width: 180px;
    /* max-width: 280px;
    min-width: 180px; */
    height: 110px;
    margin: 8px;    
    border-radius: 5px
}

.title {
    display: flex;
    width: 100%;
    height: 64px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.titleEtanol{
    background-color: #44AF69 ;
}

.titleGasolinaC {
    background-color: #F8333C;
}

.titleGasolinaADT {
    background-color: #004EB6;
}

.titleDieselS10 {
    background-color: #FCAB10;
}

.titleDieselS5 {
    background-color: #FB7800 ;
}

.titleGNV {
    background-color: #2A7FEF;
}

.pencil {
    width: 40px;
    min-width: 40px;
    height: 40px;
    padding: 6px;
}

.preco {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    color:#303030 ;
}

.divSecundaria {
    position: absolute;
    width: 80%;
    height: 400px;
    left: 70px;
    background-color: #f0f0f0; /* Cor de fundo */
    padding: 10px; /* Espaçamento interno */
    margin-top: 10px; /* Espaçamento superior */
    border: 1px solid #ccc; /* Borda */
    border-radius: 5px; /* Borda arredondada */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  }




@media only screen and (max-width: 767px) {

    .DadosPosto {
        font-size: 12px;
    }
    
    .containerSecundario {
        flex-direction: column;
    }
    
    .mainContainerPrecos {
        width: 100%;
    }

    .switchPrice {
        font-size: 14px;
        /* margin: 12px 0px; */
    }

    .cardAvaliacao {
        width: 150px;
        font-size: 12px;
    }

    .cardPreco {
        font-size: 12px;
        width: 90px;
        height: 84px;
        /* height: auto; */
        margin: 4px;
    }

    
  }
  