.mainNavbar {
  color: #EEEEEE;
  background-color: #000000d8;
  height: 15vh;
  width: 100%;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  z-index: 2;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.logoAndText {
  display: flex;
  flex-direction: row;
  width: 20%;
  align-items: center;
}

.logoAndText img {
  width: 20%;
}

.logoAndText h1 {
  margin-left: 15px;
}

.inputNav {
  border-radius: 20px;
  /* background-color: #2a7fef; */
  outline: none;
  border: none;
  color: #EEEEEE;
  width: 40%;
}

.inputNav::placeholder {
  color: #EEEEEE;
  text-align: center;
}

.linksAndInput {
  display: flex;
  flex-direction: row;
  column-gap: 10%;
  align-items: center;
  /* justify-content: center; */
  width: 50%;
  /* background-color: red; */
}

.linksAndInput ul {
  display: flex;
  flex-direction: row;
  column-gap: 10%;
  align-items: center;
  list-style: none;
}

.linksAndInput a {
  text-decoration: none;
  color: #EEEEEE;
}

.inputAndSearch {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 32px;
  /* background-color: green; */
  border-radius: 64px 64px 64px 64px;
  -webkit-border-radius: 64px 64px 64px 64px;
  -moz-border-radius: 64px 64px 64px 64px;
  /* border: 1px solid #2a7fef; */
}

.inputAndSearch input {
  width: 100%;
  background-color: #50505071;
  text-indent: 15%;
  border-radius: 64px 0px 0px 64px;
  -webkit-border-radius: 64px 0px 0px 64px;
  -moz-border-radius: 64px 0px 0px 64px;
}

.lupaIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  cursor: pointer;
  width: 64px;
  border-radius: 0px 64px 64px 0px;
  -webkit-border-radius: 0px 64px 64px 0px;
  -moz-border-radius: 0px 64px 64px 0px;
  background-color: #2A7FEF;
}

.exitAndProfile {
  font-size: 2em;
  display: flex;
  column-gap: 15%;
  cursor: pointer;
}

.inputAndSearch input:focus {
  border-radius: 64px 0px 0px 64px;
  -webkit-border-radius: 64px 0px 0px 64px;
  -moz-border-radius: 64px 0px 0px 64px;
  border: solid 1px #2A7FEF;
}

.lupaIcon:hover {
  color: #FFFFFF;
}

.linksAndInput a:hover, .exitIcon:hover, .profileIcon:hover {
  color: #2A7FEF;
}


.exitIcon {
}

.profileIcon {
}
