.mainNavbar {
  color: #eeeeee;
  background-color: #000000d8;
  height: 15vh;
  width: 100%;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  z-index: 2;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.logoAndText {
  display: flex;
  flex-direction: row;
  width: 20%;
  align-items: center;
  margin-left: 5%;
}

.logoAndText img {
  width: 20%;
  min-width: 80px;
  cursor: pointer;
}

.logoAndText h1 {
  margin-left: 15px;
}

.inputSearch {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 32px;
  margin-right: 8%;
  /* background-color: green; */
  border-radius: 64px 64px 64px 64px;
  -webkit-border-radius: 64px 64px 64px 64px;
  -moz-border-radius: 64px 64px 64px 64px;
  /* border: 1px solid #2a7fef; */
}

.inputSearch input {
  width: 100%;
  background-color: #50505071;
  text-indent: 15%;
  border-radius: 64px 0px 0px 64px;
  -webkit-border-radius: 64px 0px 0px 64px;
  -moz-border-radius: 64px 0px 0px 64px;
}

.inputNav {
  border: none;
}

.inputNav::placeholder {
  color: #eeeeee;
  text-align: center;
}

.lupaIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  cursor: pointer;
  width: 64px;
  border-radius: 0px 64px 64px 0px;
  -webkit-border-radius: 0px 64px 64px 0px;
  -moz-border-radius: 0px 64px 64px 0px;
  background-color: #2a7fef;
}

.inputSearch input:focus {
  border-radius: 64px 0px 0px 64px;
  -webkit-border-radius: 64px 0px 0px 64px;
  -moz-border-radius: 64px 0px 0px 64px;
  border: solid 1px #2a7fef;
}

.btnUser {
  margin-right: 5%;
}

@media (min-width: 769px) and (max-width: 1160px) {
  .logoAndText {
    min-width: 300px;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .logoAndText {
    width: auto;
  }

  .logoAndText h1 {
    display: none;
  }

  .inputSearch {
    width: 60%;
    margin-right: 0;
  }
}


@media (min-width: 0px) and (max-width: 499px) {
  .mainNavbar {
   justify-content: space-around;
  }

  .logoAndText {
    width: auto;
  }

  .logoAndText {
    display: none;
  }

  .inputSearch {
    width: 70%;
    margin: 0;
  }
}