.containerCardSobre {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    margin: 4px;
    align-items: center;
    justify-content: space-around;
    /* max-width: 232px; */
    /* min-height: 300px; */
    width: 200px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.90);
    border-radius: 2px;
}

.containerFtPerfil {
    width: 90%;
    /* height: 85%; */
}

.containerFtPerfil img {
    width: 100%;
    height: 100%;
    
}

.containerCardSobre h3 {
    color: #FFF;
}

.redesSociais {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4px 0px;
    column-gap: 10%;
    flex-wrap: nowrap;
    
}

.redesSociais a {
    color: #2a7fef;
    text-decoration: none;
    font-size: 32px;
}

.redesSociais a:hover {
    text-decoration: none;
    color: #FFF;

}

/* @media screen and (max-width: 768px) {
    .containerCardSobre {
        width: 128px;
       height: 190px;
    }
    
    .containerCardSobre h3 {
       font-size: 16px;
    }
    

    .redesSociais a {
        font-size: 16px;
    }
}
   */