.main-container-CardLateral {
  position: fixed;
  top: 17%;
  /* 5% do tamanho da tela a partir do topo */
  right: 1%;
  /* 5% do tamanho da tela a partir da direita */
  width: 30%;
  /* 30% do tamanho da tela de largura */
  min-width: 320px;
  max-width: 612px;
  height: 80vh;
  /* 40% do tamanho da tela de altura */
  background-color: rgba(0, 0, 0, 0.50);
  ;
  border-radius: 8px;
  z-index: 999;
  overflow: auto;
  transition: all 2s;
}

.ocult {
  transform: translateY(90%);
  transition: all 2s;
}


.container-janela {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px;
}

.container-janela h2 {
  margin-top: 3%;
  color: #FFF;
  text-align: right;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 22.838px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.btnActionCard {
  background-color: #2a7fef;
  color: #FFf;
  border: none;
  outline: none;
  border-radius: 50%;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 767px) {
  /*modificar aqui*/
}