.div-botao-usuario button {
  background-color: transparent;
  border: none;
}

.div-botao-usuario {
  display: inline-block;
  width: 2.5rem;
  height: auto;
  padding: 0.25rem;
}

.div-botao-usuario img {
  width: 100%;
  height: 100%;
}

.barra-lateral.aberta {
  right: 0;
  z-index: 999;
}

.barra-lateral {
  position: fixed;
  top: 0;
  right: -320px;
  width: 320px;
  height: 100vh;
  background-color: #0f0f0f;
  border-left: 3px solid #2a7fef;
  color: #fff;
  transition: right 0.3s ease;
  z-index: 999;
}

.cabecalho-barra-lateral {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 32px 10px;
  color: #fff;
}

.containerOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 25px;
}

.options {
  display: flex;
  justify-content: center;
  width: 90%;
  text-align: center;
  padding: 10px;
  border-radius: 0.25rem;
  border: 1px solid #a3a3a3;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
}

.options span:nth-child(2) {
  position: absolute;
  left: 32px;
  font-size: 20px;
}

.options:hover {
  background-color: #2a7fef;
  color: #ffffff;
  cursor: pointer;
}

.options.logout:hover {
  background-color: #F8333C;
  color: #ffffff;
  cursor: pointer;
}

.hamburguer-icon {
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}

.hamburguer-icon:hover {
  color: #2a7fef;
  transition: 0.5s;
}

.arrow-icon-svg {
  color: #ffffff;
  cursor: pointer;
  text-align: left;
  transition: 0.5s;
}

.arrow-icon-svg:hover {
  color: #2a7fef;
  transition: 0.5s;
}