.div-botao-usuario button {
    background-color: transparent;
    border: none;
}

.div-botao-usuario {
    display: inline-block;
    width: 2.5rem;
    height: auto;
    padding: 0.25rem;
}

.div-botao-usuario img {
    width: 100%;
    height: 100%;
}

  .barra-lateral.aberta {
    right: 0; 
    z-index: 999;
  }
  

.barra-lateral {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px; 
    height: 100vh; 
    background-color: #212529;
    color: #fff;
    transition: right 0.3s ease;
    z-index: 999;
  }
  
  .cabecalho-barra-lateral {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    margin: 32px 10px;
    color: #fff;
  }
  
  .cabecalho-barra-lateral img {
    width: 2rem; 
    height: 2rem; 
  }
  

.div-cadastrar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    padding: 10px;
    border-radius: 0.25rem;
    border: 1px solid #A3A3A3;
    margin: 20px 10px; 
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; 
    position: relative;
    top: 64px; 
  }
  
  .div-cadastrar:hover {
    background-color: #2A7FEF; 
    color: #FFFFFF; 
    cursor: pointer; 
  }
  
  .user-icon-svg{
    color: #FFFFFF;
    cursor: pointer;
  }

  