.containerSuporte {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: url('../../img/backgroundPosto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.mainSuporte {
  border-radius: 15px;
  width: 60%;
  height: 60%;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.612);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainSuporte h2 {
  text-align: center;
  color: #ffffff;
  font-size: 32px;
}

.inputForm {
  text-indent: 3%;
  border-radius: 4px;
  border: none;
  background-color: #333333;
  color: #fff;
  font-family: 'Inter';
  outline: none;
}

.inputEmail {
  height: 64px;
}

.inputTxtArea{
  padding: 6px;
  height: 150px;
  resize: none;
}

.btnSup {
  border: none;
  background-color: var(--cor-do-botao);
  font-weight: 500;
  /* width: 90%; */
  height: 55px;
  padding: 30px, 10px;
  color: #fff;
  border-radius: 4px;
  font-size: 21px;
  cursor: pointer;
  transition: 0.5s;
}

.btnSup:hover {
  transition: .5s;
  background-color: #032e69;
}

.suporteForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 85%;
  height: 100%;
}

.suporteForm input, textarea {
  
}

.inputForm:focus {
  border: 1px solid #007bff; 
}

@media screen and (min-width: 1025px) {
  /* Estilos para telas maiores que 1024px de largura */
}

@media screen and (max-width: 768px) {
  .mainSuporte {
    width: 95%;
    max-width: 500px;
  }

  .suporteForm {
    width: 90%;
  }
}


