.div-ajuste{
    padding: 12px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.main-container-cardPosto {
    width: 100%;
    max-width: 450px;
    background-color: #FFF;
    border-radius: 12px 12px 0px 0px;
}

.container-dados-posto {
    display: flex;
    height: 160px;
    width: 100%;
}

.div-bandeira {
    display: flex;   
    align-items: center;
    justify-content: space-evenly;
    height: 30%;
    width: 100%;
    color: #222228;
}
.div-bandeira img {
    width: 20%;
    max-width: 50px;
}

.container-bandeira-e-distancia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px;
}

.container-bandeira-e-distancia p {
    color:#222228;
    font-size: 18px;
}

/* .div-distancia {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
} */

.div-favoritar-posto, .div-distancia {
    font-size: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 5%;
    color: #003CA0;
}

.div-favoritar-posto i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fcab10;
    cursor: pointer;
    font-size: 26px;

}

.container-valores-postos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 100%;
    border-radius: 12px;
}

.div-combustiveis{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 64px;
    color: #FFF;
}

.maisInfo-container {
    display: flex;
    padding-top: 6px;
    background-color: #2a7fef;
    width: 100%;
    height: 32px;
    border-radius: 0px 0px 12px 12px;
    text-align: center;
    justify-content: center;
    column-gap: 5%;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
}

.maisInfo-container:hover {
    background-color: #004EB6;
}

.icon-info-posto {
  font-size: 22px;
}


/* @media (min-width: 300px) and (max-width: 767px) {
    

} */

