.div-ajuste{
    padding: 12px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.main-container-cardPosto {
    display: flex;
    align-items: center;
    /* padding: 0px 16px; */
    width: 400px;
    width: 80%;
    height: 160px;
    background-color: #FFF;
    border-radius: 12px;
}

.div-bandeira {
    display: flex;   
    align-items: center;
    justify-content: space-evenly;
    height: 30%;
    width: 100%;
    color: #222228;
}
.div-bandeira img {
    width: 20%;
    max-width: 50px;
}

.container-bandeira-e-distancia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 16px;
}

.div-distancia {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.div-mais-info {
    font-size: 14px;
    width: 100%;
    display: flex;
    align-items:flex-end;
    justify-content: flex-start;
    column-gap: 5%;
    color: #003CA0;
}


.div-mais-info a {
    text-decoration: none;
    color: #003CA0
}

.div-mais-info a:hover {
    /* background-color: red; */
    /* text-decoration: underline; */
    color: #467BEC;
    transition: all 0.2s ease;
}

.container-valores-postos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.div-combustiveis{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 64px;
    color: #FFF;
}


@media (min-width: 300px) and (max-width: 767px) {
    .main-container-cardPosto {
        width: 300px;
        height: 180px;
        /*modificar aqui*/
        
    }

}

